.MyProfile{
	background-color:lightblue;
}
.introduce{
	background: white;
	margin : 60px;
}
.mykeyword{
	width: 50px;
}
.myvalue{
	width: 50px;
}

.link{
	padding:50px;
}
.inputService{
	background-image : url("smu.png");
}
.MyInput{
	width: 500px;
	background-color: lightgray;
	opacity: .9;
}
.loginForm{
	background-color: yellowgreen;
	width:300px;
	padding: 10px;
	opacity: .9;
}